Package: tk.ethanrdoesmc.translucencysw
Name: Translucencysw
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Make Cydia translucent!
Maintainer: EthanRDoesMC <ethanrdoesmc@gmail.com>
Author: EthanRDoesMC <ethanrdoesmc@gmail.com>
Section: Tweaks
Version: 2-Beta-2-1+debug
Installed-Size: 314
