Package: tk.ethanrdoesmc.translucencysw
Name: TranslucencySW
Depends: mobilesubstrate
Version: 2
Architecture: iphoneos-arm
Description: Make as much as possible translucent!
Maintainer: EthanRDoesMC <ethanrdoesmc@gmail.com>
Author: EthanRDoesMC <ethanrdoesmc@gmail.com>
Section: Tweaks
