Package: tk.ethanrdoesmc.translucency
Name: Translucency
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Make Cydia translucent!
Maintainer: EthanRDoesMC <ethanrdoesmc@gmail.com>
Author: EthanRDoesMC <ethanrdoesmc@gmail.com>
Section: Tweaks
