Package: tk.ethanrdoesmc.translucencysw
Name: Translucencysw
Depends: mobilesubstrate
Version: 2-Beta-2
Architecture: iphoneos-arm
Description: Make Cydia translucent!
Maintainer: EthanRDoesMC <ethanrdoesmc@gmail.com>
Author: EthanRDoesMC <ethanrdoesmc@gmail.com>
Section: Tweaks
